@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

p {
  font-size: var(--font-size-p);
}

.head-hero {
  margin: 3vh 0;
  font-weight: 700;
  font-size: clamp(3rem,15vw,13rem);
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.blogs-container-head {
  display: grid;
}

.blogs-container-head h3 {
  margin: 0 0 2vh 0;
  text-align: left;
  font-size: 24px;
}

#head-post {
  margin: 2vh auto;
  text-align: left;
  font-size: 38px;
  width: -webkit-fill-available;
}

.blogs-container,
.all-posts {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: center;
  justify-content: center;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 24px;
}

.blog-image {
  width: 100%;
  margin: auto;
}

.blog .date {
  color: #6941C6;
  font-weight: var(--semi-bold);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog h2 {
  font-weight: var(--semi-bold);
  font-size: 24px;
}

.blog p {
  font-size: 16px;
}

.blog-tags {
  display: flex;
  gap: 14px;
}

.blog-tags p:nth-child(1) {
  background-color: #F8F9FC;
  color: #363F72;
}

.blog-tags p:nth-child(2) {
  background-color: #fdf2fa;
  color: #c01574;
}


.blog-tags p {
  padding: 5px;
  background-color: #F9F5FF;
  width: fit-content;
  height: 27px;
  border-radius: 14px;
  color: #6941C6;
}

.txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 550px) and (max-width:800px) {
  .blog {
    flex-direction: row;
    gap: 24px;
  }

  .all-posts .blog {
    flex-direction: column;
    gap: 12px
  }

  .all-posts .blog .blog-image {
    width: 100%;
  }

  .date {
    font-size: 14px;
  }

  .txt h2 {
    font-size: 16px;
  }

  .txt p {
    font-size: 14px;
  }

  .blogs-container {
    grid-template-columns: 1fr;
  }

  .blog-tags {
    display: none;
  }

  .blog .blog-image {
    width: 40%;
  }

  .blogs-container .blog:nth-child(1),
  .blogs-container .blog:nth-child(4) {
    flex-direction: column;
    gap: 24px;
  }

  .blogs-container .blog:nth-child(1) .blog-image,
  .blogs-container .blog:nth-child(4) .blog-image {
    width: 100%;
  }

  .blogs-container .blog:nth-child(1) .blog-tags,
  .blogs-container .blog:nth-child(4) .blog-tags,
  .all-posts .blog-tags {
    display: flex;
    gap: 20px;
  }
}

/* @media screen and (min-width: 800px){
  .blogs-container {
  }
} */

#root {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #111;
  --font-size-h2: 2rem;
  --font-size-h1: 4em;
  --font-size-p: : .7em;
  --font-size-sm: 16px;
  --semi-bold: 600;
}