@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

h1 {
  color: var(--color-text);
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

p {
  font-size: var(--font-size-p);
}

.head-hero {
  font-weight: 700;
  font-size: clamp(3rem, 15vw, 13rem);
}

.blogs-container-head {
  border-top: 1px solid;
  display: grid;
}

.blogs-container-head h3 {
  margin: 2vh 0;
  text-align: left;
  font-size: 24px;
}

#head-post {
  margin: 2vh auto;
  text-align: left;
  font-size: 38px;
  width: -webkit-fill-available;
}

.blogs-container,
.all-posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  grid-auto-rows: minmax(200px, auto);
  gap: clamp(0.5rem, 2vw, 2rem);
  overflow: hidden;
  align-items: stretch;
}

.blog {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  font-size: 16px;
  gap: clamp(0.5rem, 2vw, 2rem);
}

.blog-image {
  width: auto;
  aspect-ratio: 8/5;
}

.blog .date {
  font-size: .875em;
  color: #6941C6;
  font-weight: var(--semi-bold);
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog h2 {
  font-weight: var(--semi-bold);
  font-size: 1.125em;
}

.blog p {
  font-size: 1em;
}

.blog-tags {
  font-size: .875em;
  display: flex;
  gap: .875em;
}

.blog-tags p:nth-child(1) {
  background-color: #F8F9FC;
  color: #363F72;
}

.blog-tags p:nth-child(2) {
  background-color: #fdf2fa;
  color: #c01574;
}


.blog-tags p {
  line-height: 16px;
  padding: 5px;
  background-color: #F9F5FF;
  width: fit-content;
  height: 27px;
  border-radius: 14px;
  color: #6941C6;
}

.txt {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 550px) and (max-width:660px) {

  .blog {
    flex-direction: row;
    gap: 24px;
  }

  .all-posts .blog {
    flex-direction: column;
    gap: 12px
  }

  .all-posts .blog .blog-image {
    width: 100%;
  }

  .date {
    font-size: 14px;
  }

  .txt h2 {
    font-size: 16px;
  }

  .txt p {
    font-size: 14px;
  }

  .blog-tags {
    display: none;
  }

  .blog .blog-image {
    width: 40%;
  }

  .blogs-container .blog:nth-child(1),
  .blogs-container .blog:nth-child(4) {
    flex-direction: column;
    gap: 24px;
  }

  .blogs-container .blog:nth-child(1) .blog-image,
  .blogs-container .blog:nth-child(4) .blog-image {
    width: 100%;
    aspect-ratio: 10 / 3;
    object-fit: cover;
  }

  .blogs-container .blog:nth-child(1) .blog-tags,
  .blogs-container .blog:nth-child(4) .blog-tags,
  .all-posts .blog-tags {
    display: flex;
    gap: 20px;
  }
}

/* @media screen and (min-width: 800px){
  .blogs-container {
  }
} */
@media (max-width: 768px) {
  .head-hero {
    font-size: 60px;
    padding: 2vh 0;
  }
  .blogs-container-head {
    margin:0 2vh;
  }
  .blogs-container,.all-posts {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {

.blog:nth-child(1) .blog-image{
  aspect-ratio: 2.6/1;
  grid-row: span 2;
  margin: 0;
  justify-content: space-between;
}
.blog:nth-child(1){
  grid-row: span 2;
}
.blog:nth-child(2){
  flex-direction: row;
}
.blog:nth-child(3){
  flex-direction: row;
}
}

#root {
  margin: 0;
  padding: 0;
}

:root {
  --color-text: #111;
  --font-size-h2: 2rem;
  --font-size-h1: 4em;
  --font-size-p: : .7em;
  --font-size-sm: 16px;
  --semi-bold: 600;
}